

.botao {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    font-weight: bold;
    border-radius: .5rem;
    border: solid .1rem #000;
    transition: ease-in-out 1s;

    &:active {
        transform: scale(0.98);
    }
}

a {
    text-decoration: none;
    &:link { color: inherit; }
    &:visited { color: inherit; }
}


.btnLeitura {
    letter-spacing: .1rem;
}

.btnBaixar {
    letter-spacing: .1rem;
}
