

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: solid .1rem transparent;
    background-color: rgba(#000, .3);
    transition: ease-in-out .7s;

    &:active {
        transform: scale(0.95);
    }
}

a {
    text-decoration: none;
    &:link { color: inherit; }
    &:visited { color: inherit; }
}