
.telaConteudos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
    gap: 1rem;
}

.textoTela {
    display: flex;
    width: 95%;
    text-indent: 1rem;
}