@import './cores.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { scroll-behavior: smooth; }

.tela {
    position: relative;
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    transition: ease-in-out .7s;
    font-family: $font-primaria;
    overflow: hidden;
}

.bordaGradiente {
    position: relative;
  
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      transition: ease-in-out .7s;
    }
}

.txtChave {
    font-weight: 900;
    transition: ease-in-out 0.5s;
}


/*
    TEMA 1
*/

.tema1 {
    color: $t1-cor-primario;
    background-color: $t1-bg-primario;
    transition: ease-in-out .7s;

    // FUNDO DA TELA
    .tela { background-color: $t1-bg-tela; }

    // ÍCONE DO MENU
    .linha
    { background-color: $t1-icone-menu }

    // DIVISOR DE TELAS
    .bordaGradiente {
        &:after {
          background: linear-gradient(to right, transparent, $t1-cor-primario, transparent);
          mask-image: linear-gradient(transparent, $t1-cor-primario, transparent);
          -webkit-mask-image: linear-gradient(transparent, $t1-cor-primario, transparent);
        }
    }

    .botao {
        box-shadow: #000 0 0 .3rem .1rem;
    }

    // MENU MENOR
    .conteinerMenuMenor {
        color: $t1-icone-menu;
        background-color: rgba($t1-bg-primario, 0.2);
        box-shadow: $t1-sombra 0em 0em 0.2em;

        .linkAtivo {
            color: $t1-cor-secundaria;
        }
    }

    // TELA INICIAL
    .conteinerTelaInicial {
        background-color: $t1-tala1-bg;
        background-size: contain;
        background-image: url('../../../public/jordanio_f1.png');
    }

    // PALAVRAS CHAVES
    .txtChave {
        color: $t1-cor-forte;
    }


    // TELA SOBRE
    .conteinerSobre {

        .imgSobre {
            border: solid .1rem $t1-cor-forte;

            &::after {
                border-bottom: solid .3rem $t1-cor-forte;
            }
        }
    }


    // TELA SERVIÇOS
    .cardServico {
        box-shadow: $t1-cor-forte 0 .5rem 1rem;

        .servico {
            color: $t1-cor-secundaria;
            box-shadow: $t1-cor-secundaria 0 0 .1rem 0rem;
        }

        .textoServico {
            color: $t1-cor-secundaria;
        }

        .descricao {
            &::before {
                background-color: $t1-bg-primario;
            }
        }

    }


    // TELA CONTEÚDOS
    .lamina {
        .conteinerLamina {
            background-color: $t1-bg-primario;
        }

        .btnConteudo {
            border: solid #000 .1rem;
        }

        &::after {
            background: #000;
        }

    }

    .direita {
        &::before {
            background: linear-gradient(to right, #000046, #1cb5e0);
            background-size: 400% 400%;
            animation: moverBackground 4s linear infinite;
        }
    }

    .esquerda {
        &::before {
            background: linear-gradient(to left, #03001e, #7303c0, #ec38bc);
            background-size: 400% 400%;
            animation: moverBackground 4s linear infinite;
        }
    }


}



/*
    TEMA 2
*/

.tema2 {
    color: #eee;
    background-color: #000;
    transition: ease-in-out .7s;

    transition: ease-in-out .7s;

    .linha
    { background-color: white }

    .bordaGradiente {
        &:after {
          background: linear-gradient(to right, transparent, #fff, transparent);
          mask-image: linear-gradient(transparent, #fff, transparent);
          -webkit-mask-image: linear-gradient(transparent, #fff, transparent);
        }
    }

    .botao {
        box-shadow: #fff 0 0 .3rem .1rem;
    }

    // MENU MENOR
    .conteinerMenuMenor {
        color: #fff;
        background-color: rgba(#000, 0.2);
        box-shadow: $t1-sombra 0em 0em 0.2em;

        .linkAtivo {
            color: $t1-cor-secundaria;
        }
    }


    // PALAVRAS CHAVES
    .txtChave {
        color: #fff;
    }


    // TELA INICIAL
    .conteinerTelaInicial {
        background-color: #ee2500;
        background-size: cover;
        background-image: url('../../../public/jordanio_f2.png');
    }



    // TELA SOBRE
    .conteinerSobre {

        .imgSobre {
            border: solid .1rem #ddd;

            &::after {
                border-bottom: solid .3rem #ddd;
            }
        }
    }


    // TELA SERVIÇOS
    .cardServico {
        box-shadow: rgba(#ee2500, .5) 0 .5rem 1rem;

        .servico {
            color: #ee2500;
            box-shadow: #ee2500 0 0 .1rem 0rem;
        }

        .textoServico {
            color: #ee2500;
        }

        .descricao {
            &::before {
                background-color: $t1-bg-primario;
            }
        }

    }


    // TELA CONTEÚDOS
    .lamina {
        .conteinerLamina {
            background-color: #000;
            // filter: contrast(.7) brightness(1.5);
        }

        .btnConteudo {
            border: solid #fff .1rem;
        }

        &::after {
            background: #fff;
            backdrop-filter: blur(1rem);
            -webkit-backdrop-filter: blur(1rem);
            filter: brightness(1.5) contrast(.7);
        }

        &::before {
            filter: blur(.2rem);
        }
    }

    .direita {
        &::before {
            background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
            background-size: 400% 400%;
            animation: moverBackground 3s linear infinite;
        }
    }

    .esquerda {
        &::before {
            background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
            background-size: 400% 400%;
            animation: moverBackground 3s linear infinite;
        }
    }




}
