/*
    CORES TEMA 1 - CLARO
*/
// Cores do tema da págia
$t1-bg-maior: #11a1ff;  // Cor background
$t1-cor-maior: #000;    // Cor do texto

$t1-bg-tela: transparent;

$t1-icone-menu: $t1-cor-maior;

$t1-incone-tema: $t1-cor-maior;

$t1-sombra: #000;





